<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>

<body>
<div class="container">
    <div th:replace="fragments/body-header :: bodyHeader"/>
    <div>
        <h3>프로필 정보</h3>
        <div th:text="|아이디 : ${member.loginId}|"></div>
        <span th:text="|이름 : ${member.name}|"></span>
        <span th:if="${member.role.equals('ROLE_USER')}">(일반회원)</span>
        <span th:unless="${member.role.equals('ROLE_USER')}">(관리자)</span>
    </div>
    <hr>
    <div>
        <h3>게시글</h3>
        <div class="pb-2" th:text="|등록한 게시글수 : ${member.postCount}|"></div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tbody>
                <tr th:each="post : ${member.postDtos}">
                    <td>
                        <figure>
                            <blockquote class="blockquote mb-n3">
                                <p th:text="${post.title}"></p>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-n3" th:text="${post.createdDate}"></figcaption>
                        </figure>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div>
        <h3>댓글</h3>
        <div class="pb-2" th:text="|등록한 댓글수 : ${member.commentCount}|"></div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tbody>
                <tr th:each="comment : ${member.commentDtos}">
                    <td>
                        <figure>
                            <blockquote class="blockquote mb-n2">
                                <h5 th:text="${comment.content}">댓글 내용</h5>
                            </blockquote>
                            <figcaption class="blockquote-footer mb-n3">
                                <span th:text="|${comment.createdDate} / |"></span><cite th:text="${comment.postTitle}"></cite>
                            </figcaption>
                        </figure>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <button type="button" class="btn btn-secondary mb-3" onclick="backPage()">돌아가기</button>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>

<script th:inline="javascript">
    const backPage = () => {
        location.href = "http://localhost:8081/"
    }
</script>

</html>