<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div th:replace="fragments/body-header :: bodyHeader"/>

    <form th:object="${form}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요"/>
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <textarea th:field="*{content}" class="form-control" placeholder="내용을 입력하세요"></textarea>
        </div>
        <div class="custom-file">
            <label th:for="imageFiles" class="custom-file-label">이미지 파일</label>
            <input type="file" th:field="*{imageFiles}" multiple="multiple" class="custom-file-label">
        </div>
        <br><br>
        <div class="row justify-content-start">
            <div class="col-3" th:each="storeImage : *{storeImageName}">
                <div>
                    <img class="image" th:id="${storeImage.getId()}" th:src="|/images/${storeImage.getStoreFileName()}|"
                         width="200" height="200"/>
                    <div>
                        <span th:text="${storeImage.getUploadFileName()}"></span>
                        <input type="button" th:id="${storeImage.getId()}" class="deleteBtn btn btn-secondary"
                               value="삭제"
                               onclick="deleteImage(this.id)"/>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">수정</button>
        <button type="button" class="btn btn-secondary" th:id="*{id}" onclick="backPage(this.id)">취소</button>
        <br><br>
    </form>
    <div th:replace="fragments/footer :: footer"/>
</div>

</body>

<script th:inline="javascript">
    const deleteImage = (imageId) => {
        $.ajax({
            type: "DELETE",
            url: "/images/" + imageId,
            success: (res) => {
                console.log('삭제 성공')
                window.location.reload(true);
                // window.location.replace('http://localhost:8080')
                // location.href = "http://localhost:8086"
            },
            error: (XMLHttpRequest, textStatus, errorThrown) => {
                console.log('삭제 실패')
            }
        });
    };

    const backPage = (postId) => {
        location.href = "http://localhost:8081/posts/" + postId;
    }
</script>
</html>