<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div th:replace="fragments/body-header :: bodyHeader"/>
    <div>
        <form th:object="${postSearch}" class="form-inline">
            <div class="form-group mb-2">
                <input type="text" th:field="*{postTitle}" class="form-control" placeholder="게시글제목"/>
            </div>
            <div class="form-group mx-sm-1 mb-2">
                <select th:field="*{postCategory}" class="form-control">
                    <option value="">카테고리</option>
                    <option th:each="category : ${T(com.example.springboot_basic.domain.post.PostCategory).values()}"
                            th:value="${category}"
                            th:text="${category}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2">검색</button>
        </form>
    </div>
    <div>
        <table class="table table-hover table-striped text-center">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>조회수</th>
                <th>작성자</th>
                <th>작성시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post,index : ${posts}" onclick="movePostInfoPage(this)">
                <td th:id="${post.id}" th:text="${index.count}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.viewCount}"></td>
                <td th:text="${post.createdName}"></td>
                <td th:text="${post.createdDate}"></td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-secondary" onclick="backPage()">돌아가기</button>
    </div>
    <div th:replace="fragments/footer::footer"/>
</div>
</body>

<script th:inline="javascript">
    const backPage = () => {
        location.href = "http://localhost:8081/"
    }

    const movePostInfoPage = (res) => {
        location.href = "http://localhost:8081/posts/" + $(res).children().eq(0).attr('id') + "?isView=1";
    }
</script>
</html>