<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>조회수</th>
                <th>작성자</th>
                <th>작성시간</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.viewCount}"></td>
                <td th:text="${post.createdName}"></td>
                <td th:text="${post.createdDate}"></td>
                <td>
                    <a href="#" th:href="@{/posts/{postId}/edit (postId=${post.id})}" class="btn btn-primary"
                       role="button">수정</a>
                </td>
                <td>
                    <button th:id="${post.id}" class="btn btn-primary" onclick="deletePost(this.id)">삭제</button>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-secondary" onclick="backPage()">돌아가기</button>
    </div>
    <div th:replace="fragments/footer::footer"/>
</div>

</body>

<script th:inline="javascript">
    const deletePost = (clickId) => {
        $.ajax({
            type: "DELETE",
            url: "/posts/" + clickId,
            success: (res) => {
                console.log('게시글 삭제 완료');
                window.location.reload(true);
            },
            error: (XMLHttpRequest, textStatus, errorThrown) => {
                console.log(XMLHttpRequest);
                console.log(textStatus);
                console.log(errorThrown);
            }
        })
    }

    const backPage = () => {
        location.href = "http://localhost:8081/"
    }
</script>
</html>