<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"/>
<style>
    textarea.autosize {
        min-height: 50px;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/body-header :: bodyHeader"/>
    <div class="border-bottom">
        <h2 class="text-muted">제목</h2>
        <h3 th:text="${post.title}"></h3>
    </div>
    <div class="py-2 border-bottom">
        <h2 class="text-muted">내용</h2>
        <p th:text="${post.content}"></p>
        <div class="row justify-content-start py-2">
            <div class="col-3" th:each="storeImage : ${post.storeImageNames}">
                <div class="text-center">
                    <img class="image" th:src="|/api/images/${storeImage.storeFileName}|" width="200" height="200">
                    <div>
                        <a th:href="@{/api/images/{fileId}/attach (fileId=${storeImage.id})}">
                            <small th:text="${storeImage.uploadFileName}"></small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-start text-muted py-3">
            <span class="col col-lg-2"><small th:text="|작성자 : ${post.createdName}|"></small></span>
            <span class="col col-lg-4"><small th:text="|조회수 : ${post.viewCount}|"></small></span>
            <span class="col-3"><small th:text="|작성일시 : ${post.createdDate}|"></small></span>
            <span class="col-3"><small th:text="|수정일시 : ${post.updatedDate}|"></small></span>
        </div>
    </div>
    <div class="py-2 row justify-content-end">
        <div class="col-auto">
            <button type="button" class="btn btn-outline-secondary btn-sm" onclick="backPage()">돌아가기</button>
            <button class="btn btn-outline-primary btn-sm" onclick="validatePost()" sec:authorize="isAuthenticated()">
                수정
            </button>
            <button class="btn btn-outline-danger btn-sm" onclick="deletePost()" sec:authorize="isAuthenticated()">삭제
            </button>
        </div>
    </div>
    <div class="py-2 border-bottom">
        댓글
    </div>
    <div class="py-3">
        <textarea id="comment" placeholder="댓글을 입력하세요" style="width:100%" rows="3"></textarea>
        <div class="py-2" sec:authorize="isAnonymous()">
            <label for="parent_password">비밀번호</label>
            <input type="password" id="parent_password">
        </div>
        <button class="btn btn-primary btn-sm" onclick="addComment()">댓글 등록</button>
    </div>
    <div class="py-3">
        <div class="border-bottom border-top" style="padding-bottom: 0px" th:each="comment : ${post.comments}">
            <div class="py-3" th:id="|c${comment.id}|">
                <div class="d-flex justify-content-between">
                    <strong th:if="${comment.createdBy.equals('anonymousUser')}">익명</strong>
                    <strong th:unless="${comment.createdBy.equals('anonymousUser')}"
                            th:text="${comment.createdBy}"></strong>
                    <div sec:authorize="isAnonymous()" th:if="${comment.createdBy.equals('anonymousUser')}">
                        <button class="btn btn-outline-primary btn-sm" th:data-commentid="${comment.id}" onclick="updateComment(this)">수정</button>
                        <button class="btn btn-outline-danger btn-sm">삭제</button>
                    </div>
                    <div sec:authorize="isAuthenticated()" th:unless="${comment.createdBy.equals('anonymousUser')}">
                        <button class="btn btn-outline-primary btn-sm" th:data-commentid="${comment.id}" onclick="updateComment(this)">수정</button>
                        <button class="btn btn-outline-danger btn-sm">삭제</button>
                    </div>
                </div>
                <div th:text="${comment.content}"></div>
                <small class="text-muted" th:text="${comment.createdDate}"></small>
                <br>
                <button class="btn btn-sm btn-outline-secondary">답글</button>
            </div>
            <div class="py-3" th:id="|uc${comment.id}|" style="display:none">
                <div class="d-flex justify-content-between">
                    <strong th:if="${comment.createdBy.equals('anonymousUser')}">익명</strong>
                    <strong th:unless="${comment.createdBy.equals('anonymousUser')}"
                            th:text="${comment.createdBy}"></strong>
                    <div sec:authorize="isAnonymous()" th:if="${comment.createdBy.equals('anonymousUser')}">
                        <button class="btn btn-outline-primary btn-sm" th:data-commentid="${comment.id}" onclick="updateComment(this)">완료</button>
                        <button class="btn btn-outline-danger btn-sm" th:data-commentid="${comment.id}" onclick="updateCommentCancle(this)">취소</button>
                    </div>
                    <div sec:authorize="isAuthenticated()" th:unless="${comment.createdBy.equals('anonymousUser')}">
                        <button class="btn btn-outline-primary btn-sm" th:data-commentid="${comment.id}" onclick="updateComment(this)">완료</button>
                        <button class="btn btn-outline-danger btn-sm" th:data-commentid="${comment.id}" onclick="updateCommentCancle(this)">취소</button>
                    </div>
                </div>
                <textarea class="autosize" th:text="${comment.content}" style="width:80%"></textarea><br>
                <small class="text-muted" th:text="${comment.createdDate}"></small>
                <br>
                <button class="btn btn-sm btn-outline-secondary">답글</button>
            </div>
            <div class="py-2 border-top" style="background-color: rgba(80,80,80,0.025)">
                <div class="ml-5">
                    <div class="py-2 border-bottom" th:each="child : ${comment.childComments}">
                        <div class="d-flex justify-content-between">
                            <strong th:if="${child.createdBy.equals('anonymousUser')}">익명</strong>
                            <strong th:unless="${child.createdBy.equals('anonymousUser')}"
                                    th:text="${child.createdBy}"></strong>
                            <div sec:authorize="isAnonymous()" th:if="${child.createdBy.equals('anonymousUser')}">
                                <button class="btn btn-outline-primary btn-sm">수정</button>
                                <button class="btn btn-outline-danger btn-sm">삭제</button>
                            </div>
                            <div sec:authorize="isAuthenticated()"
                                 th:unless="${child.createdBy.equals('anonymousUser')}">
                                <button class="btn btn-outline-primary btn-sm">수정</button>
                                <button class="btn btn-outline-danger btn-sm">삭제</button>
                            </div>
                        </div>
                        <div th:text="${child.content}"></div>
                        <small class="text-muted" th:text="${child.createdDate}"></small>
                    </div>
                    <div class="py-2">
                        <textarea th:id="|child_comment${comment.id}|" placeholder="댓글을 입력하세요" style="width: 100%"
                                  rows="3"></textarea>
                        <div class="py-2" sec:authorize="isAnonymous()">
                            <label th:for="|child_password${comment.id}|">비밀번호</label>
                            <input type="password" th:id="|child_password${comment.id}|">
                        </div>
                        <button th:id="${comment.id}" class="btn btn-secondary btn-sm"
                                onclick="addChildComment(this.id)">
                            댓글 등록
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">

    /*<![CDATA[*/
    var postId = [[${post.id}]];
    console.log(postId);
    /*]]>*/

    const backPage = () => {
        location.href = "http://localhost:8081/posts"
    }

    const deletePost = () => {
        $.ajax({
            type: "DELETE",
            url: "/api/posts/" + postId,
            dataType: 'json',
            success: (res) => {
                alert(res.header.message);
                location.href = "/posts";
            },
            error: (err) => {
                const json = err.responseJSON.header;
                console.log(json);
                alert(json.message);
            }
        })
    }

    const validatePost = () => {
        $.ajax({
            method: "GET",
            url: "/api/posts/" + postId,
            success: (res) => {
                location.href = "/posts/" + postId + "/update";
            },
            error: (err) => {
                const json = err.responseJSON.header;
                console.log(json);
                alert(json.message);
            }
        })
    }

    const validateStr = (type, str) => {
        if (!str.length > 0 || str === "" || str === " ") {
            if (type === 'content') alert("댓글을 올바르게 입력해주세요");
            else alert("비밀번호를 올바르게 입력해주세요");
            return false;
        }
        return true;
    }

    const addComment = () => {
        const commentForm = {
            content: $("#comment").val(),
            password: $("#parent_password").val(),
            postId: postId,
        };

        if (!validateStr('content', commentForm.content)) return
        if (commentForm.password !== undefined)
            if (!validateStr('password', commentForm.password)) return

        $.ajax({
            method: "POST",
            url: "/api/comment",
            data: JSON.stringify(commentForm),
            contentType: 'application/json',
            success: (res) => {
                console.log(res);
                location.href = "/posts/" + postId;
            },
            error: (err) => {
                console.log(err);
            }
        })
    }

    const addChildComment = (parentId) => {
        const commentForm = {
            content: $("#child_comment" + parentId).val(),
            password: $("#child_password" + parentId).val(),
            postId: postId,
            parentId: parentId,
        };

        if (!validateStr('content', commentForm.content)) return
        if (commentForm.password !== undefined)
            if (!validateStr('password', commentForm.password)) return

        $.ajax({
            method: "POST",
            url: '/api/comment',
            data: JSON.stringify(commentForm),
            contentType: 'application/json',
            success: (res) => {
                console.log(res);
                location.href = "/posts/" + postId;
            },
            error: (err) => {
                console.log(err);
            }
        })
    }

    const updateComment = (e) => {
        console.log(e.dataset.commentid);
        const commentId = e.dataset.commentid;
        // 댓글 숨기기
        $('#c' + commentId).hide();
        // 댓글 수정칸 표시
        $('#uc' + commentId).show();
    }

    const updateCommentCancle = (e) => {
        const commentId = e.dataset.commentid;
        // 댓글 수정칸 숨기기
        $('#uc' + commentId).hide();
        // 댓글 표시
        $('#c' + commentId).show();
    }

    // textarea 높이 자동 조절
    $("textarea.autosize").on('keydown keyup', function () {
        $(this).height(1).height($(this).prop('scrollHeight') + 12);
    });
</script>
</html>