<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>

<div class="container">
    <div th:replace="fragments/body-header :: bodyHeader"/>

    <form name="updateForm" th:object="${form}">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label th:for="title">제목</label>
            <input name="title" type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요"/>
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <textarea name="content" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요"></textarea>
        </div>
        <div class="custom-file">
            <label th:for="imageFiles" class="custom-file-label">이미지 파일</label>
            <input id="imageFiles" name="imageFiles" type="file" multiple="multiple" class="custom-file-label">
        </div>
        <br><br>
        <div class="row justify-content-start">
            <div class="col-3" th:each="storeImage : *{storeImageNames}">
                <div>
                    <img class="image" th:id="${storeImage.getId()}" th:src="|/api/images/${storeImage.getStoreFileName()}|" width="200" height="200"/>
                    <div>
                        <span th:text="${storeImage.getUploadFileName()}"></span>
                        <input type="button" th:id="${storeImage.getId()}" class="deleteBtn btn btn-secondary"
                               value="삭제"
                               onclick="deleteImage(this.id)"/>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" onclick="updatePost()">수정</button>
        <button type="button" class="btn btn-secondary" th:id="*{id}" onclick="backPage(this.id)">취소</button>
        <br><br>
    </form>
    <div th:replace="fragments/footer :: footer"/>
</div>

</body>

<script th:inline="javascript">

    /*<![CDATA[*/
    var postId = [[${form.id}]];
    /*]]>*/

    const deleteImage = (imageId) => {
        $.ajax({
            type: "DELETE",
            url: "/api/images/" + imageId,
            success: (res) => {
                console.log('삭제 성공')
                window.location.reload(true);
                // window.location.replace('http://localhost:8080')
                // location.href = "http://localhost:8086"
            },
            error: (XMLHttpRequest, textStatus, errorThrown) => {
                console.log('삭제 실패')
            }
        });
    };

    const backPage = (postId) => {
        location.href = "http://localhost:8081/posts/" + postId;
    }

    const updatePost = () => {
        let form = new FormData();
        const title = $('#title').val();
        const content = $('#content').val();
        form.append('title', title);
        form.append('content', content);
        const imageFiles = $('#imageFiles')[0].files;
        for (let i = 0; i < imageFiles.length; i++) {
            form.append('imageFiles', imageFiles[i]);
        }

        $.ajax({
            method: 'PATCH',
            url: "http://localhost:8081/api/posts/" + postId,
            data: form,
            enctype: 'multipart/form-data',
            contentType: false,
            processData: false,
            cache: false,
            success: (res) => {
                alert(res.header.message);
                location.href = "http://localhost:8081/posts/";
            },
            error: (err) => {
                console.log(err.responseJSON.header);
                alert(err.responseJSON.header.message);
            }
        })
    }
</script>
</html>