<!DOCTYPE HTML>
<!--타임리프가 선언되어 있음, 타임리프 문법 사용가능-->
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- 토스 페이먼츠 SDK 추가 -->
    <script src="https://js.tosspayments.com/v1"></script>
</head>
<body>
    <!--th는 타임리프의 th이다. 여기 ${data}는 HelloController에서 설정한 data 키의 값인 "hello!!" 이다.-->
    <p th:text="'안녕하세요 ' + ${data}">안녕하세요. 손님</p>
    <button id="payment-btn">결제하기</button>


    <script>
        var button = document.getElementById("payment-btn")
        // 클라이언트 키를 TossPayments 함수에 넣고 실행하면 초기화된 객체가 생성된다.
        var clientKey = 'test_ck_7DLJOpm5Qrl1J0jQRLq8PNdxbWnY'
        var tossPayments = TossPayments(clientKey)

        button.addEventListener("click", function() {
            // 초기화된 객체를 이용해서 SDK에 포함된 메서드를 사용할 수 있다.
            // 결제창 호출에 사용되는 메서드는 requestPayment이다. 이걸 실행하면 결제창이 열린다.
            // requestPayment는 tossPayments.requestPayment(결제수단, 결제정보)와 같은 방식으로 사용함.
            tossPayments.requestPayment('카드',{
                amount: 100, // 결제금액
                orderId: '-a5qx-51_i_yEeR4GXoIL', //주문 ID
                orderName: '토스 티셔츠 외 2건',
                customerName: '박토스',
                successUrl: window.location.origin + "/success",
                failUrl: window.location.origin + "/fail",
            })
        })


    </script>
</body>
</html>