<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"/>
<body>


<div class="container">
    <div th:replace="fragments/bodyHeader::bodyHeader"/>
    <div class="jumbotron">
        <h1>Hello Home</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/login">로그인</a>
            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/members">회원 정보</a>
        </p>
        <p class="lead">게시판 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/posts">게시글 목록</a>
            <a class="btn btn-lg btn-dark" href="/posts/new">게시글 등록</a>
        </p>

    </div>
    <div class="test2">jQuery 테스트입니다.</div>
    <div th:replace="fragments/footer :: footer"/>
</div>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var message = [[${message}]];
    console.log(message);
    /*]]>*/


    $('.test2').click(function () {
        $('.test2').css({"color": "green", "font-size": "20px"});
    });


</script>
</html>