<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div id="test">jQuery 테스트입니다.</div>
<div class="container">
    <div th:replace="fragments/bodyHeader::bodyHeader"/>
    <div class="jumbotron">
        <h1>Hello Home</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/login">로그인</a>
            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/members/info">회원 정보</a>
        </p>
        <p class="lead">게시판 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/posts">게시글 목록</a>
            <a class="btn btn-lg btn-dark" href="/posts/new">게시글 등록</a>
        </p>

    </div>

    <div th:replace="fragments/footer :: footer"/>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var message = [[${message}]];
    alert(message);
    /*]]>*/

    $('#test').css("color", "green")

</script>

</body>
</html>