<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header::header"/>

<body>
<div class="container">
    <div th:replace="fragments/body-header::bodyHeader"/>
    <div class="jumbotron">
        <h1>Hello Home</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/login" sec:authorize="isAnonymous()">로그인</a>
            <a class="btn btn-lg btn-secondary" href="/members/new" sec:authorize="isAnonymous()">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/logout" sec:authorize="isAuthenticated()">로그아웃</a>
            <a class="btn btn-lg btn-secondary" href="/members" sec:authorize="isAuthenticated()">회원 정보</a>
        </p>
        <p class="lead">게시판 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/posts">게시글 목록</a>
            <a class="btn btn-lg btn-dark" href="/posts/new" sec:authorize="isAuthenticated()">게시글 등록</a>
        </p>
        <p class="lead">채팅 기능 (구현X)</p>
        <p>
            <a class="btn btn-lg btn-info" href="#">채팅방 목록</a>
            <a class="btn btn-lg btn-info" href="#">채팅방 만들기</a>
        </p>

    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var message = [[${message}]];
    console.log(message);
    /*]]>*/
</script>
</html>